<!-- THIS IS THE INDEX PAGE BODY -->
    <div class="row">    
        <div class = "row">
            <!-- This div displays the sliding Banner -->
            <div class=" margin-bottom  slider slide-div" id="image-banner" >
                <%= image_tag "index.gif", id: "slidingImage", class: "slide-image", alt: "Slide Banner" %>
            </div>
        </div>
        
        <!-- The main content starts here-->
        <div class = "row">
                <!-- This div holds all the news -->
            <div class = "col-d-4 col-t-4">
                <div class="" id="latest-news dashboard">
                   <h5 class = "">LATEST NEWS</h5>
                    <h6 class = "">SCHOOL RESUMPTION DATE</h6>
                        <p class = "info-para">School resume on the 22 of January 2017...</p>
                        <span class = "span">read more</span>
                    <h6 class = "">POST UTME RESULTS</h6>
                        <p class = "info-para">The results for the Post utme is out student...</p>
                        <span class = "span">read more</span>
                    <h6 class = "">SCHOOL FEES/HOSTEL ACOMMODATION</h6>
                        <p class = "info-para">Students are adviced to pay there fees before comming to schools else they would be...</p>
                        <span class = "span">read more</span>
                </div>
            </div>

            <!-- The history and research div -->
            <div class = "col-d-4 col-t-4">
                <div class = "col-8 no-padding">
                    <div class="" id="history-display">
                        <h5>HISTORY</h5>
                        <p class = "">The Electrical Department of Niger Delta University was formally established in the 2001/2002 academic
session, when it admitted its first set of students. The programme awards the bachelor of engineering
(B.Eng.) in Electrical/Electronic Engineering after five academic sessions, and graduated its first set of
engineers in the 2005/2006 academic year</p><span class = "span ">read more</span>
                    </div>
                </div>
                            
            <div class = "col-8 div-margin">
                <div class="" id="research">
                  <h5>RESEARCH</h5>
                    <p class="research-para"><span class = "point">.</span> EFFECTIVE ELECTRICAL DISTRIBUTION SYSTEM</p>
                    <p class="research-para"><span class = "point">.</span> REDUCTION OF POWER CONSUMPTION </p>
                    <p class="research-para"><span class = "point">.</span> WIRELESS POWER SUPPLY AND DISTRIBUTION</p>
                </div>
                </div>
               
            </div>

            <!-- The the alumini and why elect here-->
            <div class = "col-d-4 col-t-4">
                <div class = "row">
                    <div class = "col-8 centered">
                        <div class="" id="alumni">
                                <h5>ALUMNI</h5>
                                <p class = "alumni"><img src="alumni.jpg" alt="IEEE Logo" title="IEEE Logo" class=" img-width" id="ieee-logo"/>
                                </p>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-8 div-margin centered">
                        <div class="" id="why-elect-elect">
                            <h5>WHY ELECT/ELECT</h5>
                            <p><span class = "point blue-font">"</span>
                            the vision I had of becoming an engineer came to reality....
                            "
                            </p>
                            <span class = "span">read more</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--this closes the row -->
    </div>