
        
        <!-- This is the page header -->
    <div class = "col-8">
        <div class = "col-1"></div>
        <div class = "col-6 trans-background no-padding header-font" id="heade">
            <!-- The school logo -->
            <div class = "col-1 no-padding img-pad-left">
                <img class = "img-width" src="ndu_logo.png" alt="School Logo" title="NDU Logo" id="ndu-logo"/>
            </div>
            <div class = "col-5 no-padding centered darkblue-font white-shadow medium-margin">
                    NIGER DELTA UNIVERSITY DEPARTMENT OF</br>ELECTRICAL / ELECTRONICS ENGINNERING</br>WILBERFORCE ISLAND</br>BAYELSA STATE
            </div>
            <div class = "col-1" img-pad-right>
                <img src="ieee_logo.png" alt="IEEE Logo" title="IEEE Logo" class=" margin-top img-width" id="ieee-logo"/>
            </div>
        </div>
             <div class = "col-1">
             </div>
        
        
        


        <!-- Navigation Bar -->
        
        <div id="top-nav" class="row">
            <div class = "col-1"></div>
                <div id = "header" class = "medium-margin blue-background white-border2 col-6 no-top pad-left">
                    <ul class="nav-list" id="top-nav-list">
                        <!-- Home nav -->
                        <li class="main-nav-item" id="home">Home</li>
                
                        <!-- Resource Menu -->
                        <li class="main-nav-item" id="resource">Resource
                        <ul class="sub-nav-list nav-list" id="resource-sub-list">
                            <li class="" id="project-archive">Project Archive</li>
                            <li class="" id="gallery">Gallery</li>
                        </ul>
                    </li>
                
                    <!-- News nav -->
                    <li class="main-nav-item" id="news">News</li>
                
                    <!-- Programmes Menu -->
                    <li class="main-nav-item" id="programmes">Programmes
                        <ul class="sub-nav-list nav-list" id="programmes-sub-list">
                        
                        <!-- Post graduate submenu under programmes -->
                            <li class="" id="post-graduate">Post Graduate <span class="arrow" id="arrow1">&#9656;</span>
                                <ul class="sub-nav-list nav-list" id="post-graduate-sub-list">
                                    <li class="" id="antenna">Antenna</li>
                                    <li class="" id="communication">Communication</li>
                                    <li class="" id="power-distribution">Power Distribution</li>
                                </ul>
                            </li>
                        
                        <!-- Under graduate submenu under programmes -->
                            <li class="" id="under-graduate">Under Graduate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="arrow" id="arrow2">&#9656;</span>
                                <ul class="sub-nav-list nav-list" id="under-graduate-sub-list">
                                    <li class="" id="power">Power</li>
                                    <li class="" id="electronics">Electronics</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                
                <!-- About menu -->
                    <li class="main-nav-item" id="about">About
                        <ul class="sub-nav-list nav-list" id="about-sub-list">
                            <li class="" id="history">History</li>
                            <li class="" id="philosophy">Philosophy</li>
                            <li class="" id="mission-vision">Mission/Vision</li>
                            <li class="" id="aims-objectives">Aims/Objectives</li>
                        </ul>
                    </li>

                    <!-- Login Menu -->
                    <li class="main-nav-item  place-right" id="login">Login

                        <!-- Login sub menu -->
                        <ul class="sub-nav-list nav-list " id="login-sub-list">
                            <li class="" id="admin">Admin</li>
                            <li class="" id="staff">Staff</li>
                            <li class="" id="student">Student</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class = "col-1"></div>
        </div>
        
        <div class = "row">
            <div class = "col-1"></div>
                <div class = "col-6 no-padding ">
                    <!-- This div displays the sliding Banner -->
                    <div class=" margin-bottom  slider slide-div" id="image-banner" >
                        <img src="js/slideImgs/index.gif" id="slidingImage" class="slide-image" alt="Slide Banner">
                    </div>
                </div>
            <div class = "col-1"></div>
        </div>
        






        <!-- The main content starts here-->
        <div class = "row">
            <div class = "col-1"></div>
                <!-- This div holds all the news -->
            <div class = "col-2 remove-pads width1">
                <div class="" id="latest-news">
                   <h5 class = "">LATEST NEWS</h5>
                    <h6 class = "">SCHOOL RESUMPTION DATE</h6>
                        <p class = "info-para">School resume on the 22 of January 2017...</p>
                        <a href="#"><span class = "span">read more</span></a>
                    <h6 class = "">POST UTME RESULTS</h6>
                        <p class = "info-para">The results for the Post utme is out student...</p>
                        <a href="#"><span class = "span">read more</span></a>
                    <h6 class = "">SCHOOL FEES/HOSTEL ACOMMODATION</h6>
                        <p class = "info-para">Students are adviced to pay there fees before comming to schools else they would be...</p>
                        <a href="#"><span class = "span">read more</span></a>
                </div>
            </div>

            <!-- The history and research div -->
            <div class = "col-2 width2 no-top">
                <div class = "col-8 no-padding">
                    <div class="" id="history-display">
                        <h5>HISTORY</h5>
                        <p class = "">The Electrical Department of Niger Delta University was formally established in the 2001/2002 academic
session, when it admitted its first set of students. The programme awards the bachelor of engineering
(B.Eng.) in Electrical/Electronic Engineering after five academic sessions, and graduated its first set of
engineers in the 2005/2006 academic year</p><a href="#"><span class = "span place-left">read more</span></a>
                    </div>
                </div>
                            
            <div class = "col-8 no-padding div-margin">
                <div class="" id="research">
                  <h5>RESEARCH</h5>
                    <p class="research-para"><span class = "point">.</span> EFFECTIVE ELECTRICAL DISTRIBUTION SYSTEM</p>
                    <p class="research-para"><span class = "point">.</span> REDUCTION OF POWER CONSUMPTION </p>
                    <p class="research-para"><span class = "point">.</span> WIRELESS POWER SUPPLY AND DISTRIBUTION</p>
                </div>
                </div>
               
            </div>

            <!-- The the alumini and why elect here-->
            <div class = "col-2 no-top width3">
                <div class = "row">
                    <div class = "col-8 centered no-padding">
                        <div class="" id="alumni">
                                <h5>ALUMNI</h5>
                                <p class = "alumni"><img src="alumni.jpg" alt="IEEE Logo" title="IEEE Logo" class=" img-width" id="ieee-logo"/>
                                </p>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-8 div-margin centered no-padding">
                        <div class="" id="why-elect-elect">
                            <h5>WHY ELECT/ELECT</h5>
                            <p><span class = "point blue-font">"</span>
                            the vision I had of becoming an engineer came to reality....
                            "
                            </p>
                            <a href="#"><span class = "span">read more</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col-1"></div>
        </div><!--this closes the row -->        

        <div class = "row">
            <div class = "col-1"></div>
            <div class = "col-6 no-padding">
                <!-- The footer -->
                <footer class="centered blue-background" id="footer">&copy; Copyright Department of Electrical/Electronics, Niger Delta University
                </footer>
            </div>
            <div class = "col-1"></div>
        </div>
        </div>