<!-- COURSES Menu -->
<!--<div class="row">
    <div id="course_menu">
        <div class="col-t-4 col-d-4" >
            <div class="course_menu_item" id="new_course_menu_item" data-ref="create_course_option">
                <img class = "icon"  src = ""/><br/>
                New
            </div>
        </div>
        <div class="col-t-4 col-d-4" >
            <div class="course_menu_item" id="edit_course_menu_item" data-ref="find_course_option">
                <img class = "icon" src = ""/><br/>
                Edit
            <div>
        </div>
        <div class="col-t-4 col-d-4">
            <div class="course_menu_item" id="delete_course_menu_item" data-ref="fnd_course_option">
                <img class = "icon" src = ""/><br/>
                Delete
            </div>
        </div>
    <div>
</div>-->
<div id="course_menu" class = "page my-fade">
                <!--THE OPERATIONS CONCERNING COURSES -->
                <div id = "operations" class="white_bg">
                    <div id="new_course_menu_item" data-ref="create_course_option" class = "tips">
                        Create
                    </div>
                    <div id="edit_course_menu_item" data-ref="find_course_option" class = "tips">
                        Edit
                    </div>
                    <div id="delete_course_menu_item" data-ref="fnd_course_option" class = "tips">
                        Delete
                    </div>
                    
                </div>

</div>
