 <div id="dashboard" class = "page fade">
                <div class = "tips">
                <%= image_tag('navs/lecturer.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Staffs
                </div>
                <div class = "tips">
                <%= image_tag('navs/student.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Students
                </div>
                <div class = "tips">
                <%= image_tag('navs/course.svg', class: 'icon icon-img')%><br/>
                <span>100</span><br/>
                Courses
                </div>
        </div>