<div class = "row" >
	
	<%= render 'layouts/lecturer_layout/card' %>
	<div class = "col-d-9 col-t-8">
		<div class = "dashboard">
			<h1 class = "header centered">Enter Results</h1>
            <p>Course Code: <%= @course.ccode %> Course Title:  <%= @course.ctitle %> Units:    <%= @course.units %> </p>



            
		</div>
	</div>
</div>