	
	<% if @passwords.empty? %>
	<h3>All students are active </h3>
	<% else %>
		<% @passwords.each do|pass| %>
			<div>
				<% student = Student.find_by(id: pass.user_id) %>
				<label class = "student_pass_name console">Student Name: </label><label class="console student_name"><%= "#{student.sname.titlecase} #{student.fname.titlecase} #{student.student_othername.othernames if student.student_othername}" %></label></br>
				<label class = "student_pass_uname console">User Name: </label><label class="console student_uname"><%= "#{student.matno.upcase}" %></label></br>
				<label class = "student_pass_pass console">Password: </label><label class="console password"><%= "#{pass.password}" %></label></br>
				<hr/>
			</div>
		<% end %>
		
		<button id="print_button" class="button">Print</button>
	<% end %>
<script>
	$("#print_button").click(function(){
		print();
	});
</script>