<div class = "row">
    <div class = "col-8 transblue-background">
        <div class = "col-1 white-font border-right">
            <%= render "layout/admin_layout/card" %>
        </div>
     </div>
</div>