        <div = "row">
            <div class = "col-8">
            	<div class = "col-1"></div>
            <div class = "col-1 no-padding">
                <%= render 'layouts/lecturer_menu' %>
            </div>

            <div class = "col-5 no-padding margin-left">
                <div class = "trans-background no-padding">
                  <h5 class = "pad-left text-left black-font"></h5>
                    <hr class = "hr">
                </div>
            </div>
            <div class = "col-1"></div>
            </div>
        </div>