        <div = "row">
            <div class = "col-8">
              <div class = "col-1"></div>
            <div class = "col-1 no-padding">
                <%= render 'layouts/lecturer_menu' %>
            </div>

            <div class = "col-5 no-padding  margin-left">
                <div class = "trans-background  no-padding">
                  <h5 class = "pad-left centered black-font">ENTER RESULT</h5>
                  <table border = "1" style="width: 100%; align: center;">
                    <th>S/N</th>
                    <th>MATNO</th>
                    <th>NAME</th>
                    <th>COURSE TITLE</th>
                    <th>COURSE CODE</th>
                    <th>GRADE</th>
                    <th>POINT</th>
                    
                    <tr>
                      <td>1</td>
                      <td>UG/12/1463</td>
                      <td>WOKORO DOUYE SAMUEL FURTHER PROGRAMMING FURTHER PROGRAMMING</td>
                      <td>FURTHER PROGRAMMING</td>
                      <td>EEE333</td>
                      <td>A</td>
                      <td>4</td>
                    </tr>
                  </table>
                </div>
            </div>
            <div class = "col-1"></div>
            </div>
        </div>