$(document).ready(function(){
    $.ajaxSetup({
        headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
    });

    //funtion to handle click events
    $(".adminli").click(function(event){
        var $pane = $(this).attr('data-pane');
        $(".page").css("display", "none");
        $("#"+$pane).css("display", "block");
    });

    $('#operations div').click(function(event){
        var $element = $(this).attr('data-paneid');
        $(".operations").css("display","none");
        $("#"+$element).fadeIn(200);
        $(".ccode_field").focus();
    });

    // function that triggers the ajax course creation request
    $("#create_cos").click(function(event){
        var units = $("#create_units_field").val();
        var ccode = $("#create_ccode_field").val();
        var ctitle = $("#create_ctitle_field").val();
        var level = $("#create_level_field").val();
        var semester = $("#create_semester_field").val();
        sendRequest(ccode, ctitle, units, level, semester);
    });

     // function that reponsible for the ajax suggestions
    $("#edit_ccode_field").keyup(function(event){
        var query = $("#edit_ccode_field").val();
        $("#sugestions").css('display', 'block');
        setTimeout(function(){
            recSugestions(query);
        },500);
    });

    //function to enable hover events
    $("#operations div").hover(function(event){
        $(this).css("border-bottom","medium solid blue");
        $(this).css("border-bottom-width","thin");
        $(this).css("cursor","pointer");
     }, function(){
        $(this).css("border-bottom","medium solid white");
        $(this).css("border-bottom-width","thin");
     });
    $(this).ajaxSend(function(){
    $('#sugestions').html(' ');
}).ajaxStop(function () {
    $("#loader").removeClass("loader");
});

}).ajaxStart(function () {
    $("#loader").addClass("loader");
});
 //function to make the ajax request
function sendRequest(ccode, ctitle, units, level, semester){
    
   var $ajaxCall =  $.ajax({
                            url: '/create_course',
                            type: 'POST',
                            dataType: "json",
                            data: {ccode: ccode, ctitle: ctitle, units: units, level: level, semester: semester}
                            });

   $ajaxCall.done(function(data){alert(data.ctitle + " created")});
   $ajaxCall.fail(function(data){alert(data)});
}

function recSugestions(query){
    var $sugest = $('#sugestions');
    $.ajaxSetup({
    headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
    });
    var $ajaxCall = $.ajax({
                            url: '/suggest_course',
                            type: 'POST',
                            dataType: 'json',
                            data: {query: query}
                            });

    $ajaxCall.done(function(data, status){
        var i = 0;
         $.each(data,function(dat, mean){
            $sugest.append('<span>'+mean+'</span><br/>');
            i++;
         });
    });
    $ajaxCall.fail(function(jqXhr, textStatus, errorMessage){
        alert('Error' + errorMessage);
    });
}