 * {
padding : 0;
margin : 0;
}
.loader {
border : 16px solid #f3f3f3;
border-top : 16px solid #3498db;
border-width : 2px;
width : 50px;
height : 50px;
display : block;
}
#loader {
position : fixed;
top : 50%;
left : 50%;
display : none;
}
.page {
height : 700px;
text-align : center;
}
.header {
width : 100%;
vertical-align : middle;
text-align : center;
}
#summary {
height : 150px;
}
#create_act {
display : none;
}
#left {
background-color : #000099;
width : 15%;
height : 780px;
}
#center {
background-color : #cccccc;
width : 85%;
height : 780px;
text-align : center;
position : absolute;
top : 0;
left : 15%;
}
#lecturer {
display : none;
}
#courses {
display : none;
}
#students {
display : none;
}
#news {
display : none;
}
.icon-img {
padding-right : 10%;
}
.icon {
height : 20%;
width : 25%;
}
#img {
padding : 10px 10px 20px 10px;
}
#navs {
padding-left : 20%;
}
#operations {
background-color : white;
}
span {
font-size : 25px;
}
img {
padding : 0;
}
.div div {
font-family : 'Roboto Slab', serif;
text-align : center;
}
.adminli {
color : white;
margin-top : 30px;
list-style-type : none;
text-align : left;
width : 60%;
}
.adminli:hover {
cursor : pointer;
}
p {
font-size : 20px;
}
.tips {
font-size : 40px;
display : inline-block;
text-align : center;
width : 15%;
height : 15%;
margin-left : 15%;
