<div = "row">
    <div class = "col-8">
        <div class = "col-1"></div>
        <div class = "col-1 no-padding">
            <%= render 'layouts/lecturer_layout/card' %>
        </div>
        <div class = "col-1"></div>
    </div>
</div>