	
	<% if @passwords.empty? %>
	<h3>All Lecturers are active </h3>
	<% else %>
		<% @passwords.each do|pass| %>
			<div>
				<% lecturer = Lecturer.find_by(id: pass.user_id) %>
				<label class = "student_pass_name console">Lecturer Name: </label><label class="console student_name"><%= "#{lecturer.sname.titlecase} #{lecturer.fname.titlecase} #{lecturer.lecturer_othername.othernames if lecturer.lecturer_othername}" %></label></br>
				<label class = "student_pass_uname console">User Name: </label><label class="console student_uname"><%= "#{lecturer.staff_id}" %></label></br>
				<label class = "student_pass_pass console">Password: </label><label class="console password"><%= "#{pass.password}" %></label></br>
				<hr/>
			</div>
		<% end %>
		
		<button id="print_button" class="button">Print</button>
	<% end %>
<script>
	$("#print_button").click(function(){
		print();
	});
</script>