<div class = "row">
            <div class = "col-6 no-padding">
                <!-- The footer -->
                <footer class="centered blue-background" id="footer">&copy; Copyright Department of Electrical/Electronics, Niger Delta University
                </footer>
            </div>
            <div class = "col-1"></div>
</div>
<div class = "row">
	<div class = "col-1"></div>
	<div class = "col-6"><%= debug(params) %></div>
	<div class = "col-1"></div>
</div>
