<style type="text/css">
    .nmenu{
        color:white;
    }

    .smenu{
        display:inline-block;
        width:100%;
    }
</style>

<div class = "col-8">
        <div class="row">
        <header>
            <div class="col-d-12 col-t-12">
                <!--<img src="ndu_logo.png" id="logo"  alt="NDU LOGO" /> -->
                <%= image_tag "ndu_logo.png", alt: "NDU Logo", title: "NDU Logo", class: "img-widt", id: "logo" %>
                <div id="head">
                    DEPARTMENT OF ELECTRICAL/ELECTRONICS ENGINEERING<br/>
                    NIGER DELTA UNIVERSITY<br/>
                    WILBERFORCE ISLAND<br/>
                    BAYELSA STATE<br/>
                </div>
            </div>
        </header>
        </div>
        
        <!-- Navigation Bar -->
        <div class="row">
        <div class="col-d-12 col-t-12">
            <nav class="" id="main-nav-bar">
                <ul class="ul-menu" id="main-nav-left-ul">
                    <li class="li-menu-item-hor"><%= link_to 'Home', root_url, class:'nmenu' %></li>
                    <li class="li-menu-item-hor" id="resource">Resource
                         <ul class="sub-nav-list ul-menu" id="resource-sub-list">
                            <li class="" id="project-archive">Project-Archive</li>
                            <li class="" id="gallery">Gallery</li>
                        </ul>
                    </li>
                    <li class="li-menu-item-hor"><%= link_to 'News', news_index_path, class:'nmenu' %></li>
                    <li class="li-menu-item-hor" id="programmes">Programmes
                        <ul class="sub-nav-list ul-menu" id="programmes-sub-list">
                        
                        <!-- Post graduate submenu under programmes -->
                            <li class="" id="post-graduate">Post Graduate <span class="arrow" id="arrow1">&#9656;</span>
                                <ul class="sub-nav-list ul-menu" id="post-graduate-sub-list">
                                    <li class="" id="antenna">Antenna</li>
                                    <li class="" id="communication">Communication</li>
                                    <li class="" id="power-distribution">Power Distribution</li>
                                </ul>
                            </li>
                        
                        <!-- Under graduate submenu under programmes -->
                            <li class="" id="under-graduate">Under Graduate<span class="arrow" id="arrow2">&#9656;</span>
                                <ul class="sub-nav-list ul-menu" id="under-graduate-sub-list">
                                    <li class="" id="power">Power</li>
                                    <li class="" id="electronics">Electronics</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="li-menu-item-hor" id="about">About
                        <ul class="sub-nav-list ul-menu" id="about-sub-list">
                            <li class="" id="history">History</li>
                            <li class="" id="philosophy">Philosophy</li>
                            <li class="" id="mission-vision">Mission/Vision</li>
                            <li class="" id="aims-objectives">Aims/Objectives</li>
                        </ul>
                    </li>
                    <li class="li-menu-item-hor">Donation</li>
                </ul>
                <ul class="ul-menu-right" id="main-nav-right-ul">
                    <li class="li-menu-item-hor">My Profile</li>
                    <li class="li-menu-item-hor"><%= link_to 'Student', student_login_url, class:'smenu' %></li>
                </ul>
            </nav>
        </div>
    </div>