<div class = "trans-background centered ">
    <ul id = "year" class = "nav-list">
        <li><%= link_to "Submit", {controller: "lectureractivities", action: "addrow"}, id: "submit" %><br></li><hr class ="hr"/>
        <li><%= link_to "Visit Library", "" %><br></li><hr class ="hr"/>
        <li><%= link_to "Lecture Timetable", "" %><br></li><hr class ="hr"/>
        <li><%= link_to "UpLoad", "" %><br></li><hr class ="hr"/>
    </ul>
</div>